<%= render partial: 'accounts/accounts/search' %>


<% if current_user.account.present?%>
  <%= link_to "Editar Conta n. #{current_user.account.number_from_account}",
        edit_accounts_account_path(current_user.account), class:"btn btn-primary btn-lg pull-right" %>

  <%= link_to 'Saldo', accounts_balance_account_path,
        class:"btn btn-primary btn-lg pull-right" %>
<% end %>
<% if @transaction_from_account.present? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Data da transação</th>
        <th>Valor Depósito</th>
        <th>Valor Transferência</th>
        <th>Valor Saque</th>
      </tr>
    </thead>
    <tbody>
      <% @transaction_from_account.each do |account| %>
        <tr>
          <th scope="row"><%= account.id %></th>
          <td><%= I18n.l(account.created_at) %></td>
          <td class="success"><%= account.value_deposit if account.deposit.present? %></td>
          <td class="success"><%= account.value_transfer if account.transfer.present? %></td>
          <td class="danger"><%= account.value_withdrawal if account.withdrawal.present? %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
