
     <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to 'Virtual Banking', root_path, class: "navbar-brand" %>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav pull-right">
                  <% unless user_signed_in? %>
                    <li>
                        <%= link_to "Login", new_user_session_path %>
                    </li>
                    <li>
                         <%= link_to "Cadastrar-se", new_user_registration_path %>
                    </li>
                  <% else %>
                    <li>
                        <%= link_to current_user.email, "#" %>
                    <li>
                      <% if current_user.account.present? %>
                        <%= link_to "Conta", accounts_search_path,  data: { no_turbolink: true } %>
                      <% end %>
                    </li>
                    <li>
                        <%= link_to "Sair", destroy_user_session_path, method: :delete %>
                    </li>
                  <% end %>
                  <li>
                      <%= link_to "Cadastrar Conta", new_accounts_account_path %>
                  </li>
                </ul>
            </div>
        </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
