<div class="container">
  <div class="jumbotron">
    <div style="text-align: center">
      <h3>Bem vindo ao Virtual Banking, seleciona abaixo a operação desejada!</h3>
    </div>
  </div>
  <br>
  <div style="text-align: center">
    <div class="row">
        <div class="col-md-4">
          <%= link_to 'Depósitos', new_deposit_path,  class:"thumbnail" %>
        </div>
          <div class="col-md-4">
            <%= link_to 'Transferências', new_accounts_transfer_path, class:"thumbnail" %>
          </div>
        <div class="col-md-4">
          <%= link_to 'Saques', new_accounts_withdrawal_path, class:"thumbnail" %>
        </div>
    </div>
  </div>
  <div class="container">
    <div style="height: 150px">
    </div>
</div>
