<h1>Saque</h1>
<br><br>
<%= form_for([:accounts, @withdrawal]) do |f| %>
  <% if withdrawal.errors.any? %>
   <div id="error_explanation">
     <h2><%= pluralize(withdrawal.errors.count, "error") %> prohibited this withdrawal from being saved:</h2>

     <ul>
     <% withdrawal.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
     </ul>
   </div>
  <% end %>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :name, 'Nome do títular da conta' %>
        <%= f.text_field :name, class: "form-control", placeholder: "Ex: 'Mark Dicker" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :account_number, 'Número da sua conta' %>
        <%= f.text_field :account_number, class: "form-control", placeholder: "Número da sua conta" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :value, 'Valor do depósito'%>
        <%= f.text_field :value, class: "form-control", placeholder: "Ex: 100" %>
      </div>
    </div>
  </div>

  <%= f.submit 'Sacar', class:"btn btn-danger" %>
 <% end %>
