<h1>Depósito</h1>
<br><br>
<%= form_with model: deposit, local: true do |f| %>
  <% if deposit.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h2><%= pluralize(deposit.errors.count, "error") %> prohibited this deposit from being saved:</h2>
      <ul>
        <% deposit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
   </div>
  <% end %>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :name, 'Nome do títular da conta' %>
        <%= f.text_field :name, class: "form-control", placeholder: "Ex: 'Mark Dicker" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :account_number, 'Número da conta' %>
        <%= f.text_field :account_number, class: "form-control", placeholder: "Ex:  '155-20-33'" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :value, 'Valor do depósito'%>
        <%= f.text_field :value, class: "form-control", placeholder: "Ex: 100" %>
      </div>
    </div>
  </div>

  <%= f.submit 'Depositar', class:"btn btn-success" %>
 <% end %>
