<h1>Cadastrar Conta</h1>
<br><br>
<%= form_for([:accounts, @account]) do |f| %>
  <% if account.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>
      <ul>
        <% account.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
   </div>
  <% end %>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label :number_from_account, 'Número da conta' %>
        <%= f.text_field :number_from_account, class: "form-control", placeholder: "Ex: 122-30" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <%= f.label 'Ativar a conta' %>
        <br>
        <%= f.label :active, 'Sim', value: 'true' %>
        <%= f.radio_button :active, true %>
        <%= f.label :active, 'Não', value: 'false' %>
        <%= f.radio_button :active, false %>
      </div>
    </div>
  </div>

  <%= f.hidden_field :balance, value: 0 %>
  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.submit 'Enviar', class:"btn btn-primary" %>
 <% end %>
