<%= form_tag accounts_search_path, method: :get do %>
  <div class="row">
    <div class="well well-sm">
      <div class="row">
        <div class="col-md-4">
          <div class="input-group">
            <%= text_field_tag(:q, params[:q],  { class:"form-control datepicker", placeholder: "Ex: 24-10-2017" }) %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <%= text_field_tag(:term, params[:term], { class:"form-control datepicker", placeholder: "Ex: 26-10-2017" }) %>
          </div>
        </div>
        <div class="col-md-4">
          <span class="input-group-btn">
             <%= submit_tag("Pesquisar", class:"btn btn-default") %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <% end %>
