<div class="well">
   <h4>Número da sua conta: <%= @account.number_from_account %></h4>
</div>

<div class="well">
   <h4>Saldo da sua conta: R$ <%= @account.balance.to_f %></h4>
   <h5>Conta <%= @account.active == true  ? 'ativa' : 'inativa' %>
</div>
