/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 *= require bootstrap-datepicker
 */

 body {
     padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
 }

 .slide-image {
     width: 100%;
 }

 .carousel-holder {
     margin-bottom: 30px;
 }

 .carousel-control,
 .item {
     border-radius: 4px;
 }

 .caption {
     height: 130px;
     overflow: hidden;
 }

 .caption h4 {
     white-space: nowrap;
 }

 .thumbnail img {
     width: 100%;
 }

 .star img {
     width: 15px;
 }

 .ratings {
     padding-right: 10px;
     padding-left: 10px;
     color: #d17581;
 }

 .thumbnail {
     padding: 0;
 }

 .thumbnail .caption-full {
     padding: 9px;
     color: #333;
 }

 footer {
     margin: 50px 0;
 }
