<!DOCTYPE html>
<html>
  <head>
    <title>VirtualBanking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'true' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'true' %>
  </head>

  <body>
    <%= render partial: "layouts/shared/navigation" %>

    <div class="container">
          <div class="row">
            <hr>
              <%#= render partial: 'layouts/shared/menu' %>

                <div class="row">
                  <%= yield %>
                </div>

          </div>

      </div>

      <%= render partial: "layouts/shared/footer" %>
      <%= render partial: "layouts/shared/notification" %>
  </body>
</html>
